/* General style */

@font-face {
    font-family: 'myriad_probold';
    src: url('/fonts/myriadpro-bold-webfont.eot');
    src: url('/fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('/fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('/fonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'myriad_prolight';
    src: url('/fonts/myriadpro-light-webfont.eot');
    src: url('/fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriadpro-light-webfont.woff') format('woff'),
         url('/fonts/myriadpro-light-webfont.ttf') format('truetype'),
         url('/fonts/myriadpro-light-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'myriad_prolight_italic';
    src: url('/fonts/myriadpro-lightit-webfont.eot');
    src: url('/fonts/myriadpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myriadpro-lightit-webfont.woff') format('woff'),
         url('/fonts/myriadpro-lightit-webfont.ttf') format('truetype'),
         url('/fonts/myriadpro-lightit-webfont.svg#myriad_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { 
    font-family: "myriad_prolight", "Helvetica", Helvetica, Arial, sans-serif;
    /*background: url(/images/bg.png);*/
}

#footer {
    background: #2064ac;
    color: white;
    padding: 19px 0 1px 0;
}

/* Posicion de accesorios */

#accesorio-0 {
    top: 26%;
    left: 35%;
}

#accesorio-1 {
    top: 65%;
    left: 30%;
}


.top-bar {
    height: 72px;
    padding: 12px 9px;
}

.top-bar a {
    color: #FFF;
    font-size: 19px;
}

.crm {
    border-radius: 8px;
}

.crm:hover {
    background: #272727;
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #3C3C3C;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0.8;
}