/* General style */

@font-face {
  font-family: 'myriad_probold';
  src: url('/fonts/myriadpro-bold-webfont.eot');
  src: url('/fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/myriadpro-bold-webfont.woff') format('woff'),
    url('/fonts/myriadpro-bold-webfont.ttf') format('truetype'),
    url('/fonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
  font-weight: normal;
  font-style: normal;

} 

@font-face {
  font-family: 'myriad_prolight';
  src: url('/fonts/myriadpro-light-webfont.eot');
  src: url('/fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/myriadpro-light-webfont.woff') format('woff'),
    url('/fonts/myriadpro-light-webfont.ttf') format('truetype'),
    url('/fonts/myriadpro-light-webfont.svg#myriad_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

} 

@font-face {
  font-family: 'myriad_prolight_italic';
  src: url('/fonts/myriadpro-lightit-webfont.eot');
  src: url('/fonts/myriadpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/myriadpro-lightit-webfont.woff') format('woff'),
    url('/fonts/myriadpro-lightit-webfont.ttf') format('truetype'),
    url('/fonts/myriadpro-lightit-webfont.svg#myriad_prolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* ##################### GENERAL ########################## */

body { 
  font-family: "myriad_prolight", "Helvetica", Helvetica, Arial, sans-serif;
  /* background: url(/images/bg.png); */
  height: 99% !important;
}

.error {
  background-color: #A56767;
  border-color: #9C3E3E;
}
.logo {
  text-align: center;
  margin-top: 35px;
}

.logo img {
  width: 60%;
}

.content {
  /*margin-left: 80px;*/
  /*margin-right: 80px;*/
}

/* ##################### HEADER ######################## */

.top-bar {
  height: 43px;
  padding: 0px 9px;
}

.top-bar a {
  color: #FFF;
  font-size: 19px;
}

#logout {
  padding-top: 0.475rem;
  padding-right: 0.75rem;
  padding-bottom: 0.4375rem;
  padding-left: 0.75rem;
  font-size: 0.7125rem;
  margin-top: 6px;
}


/* ##################### SIDEBAR: NEXT - BEFORE ######################## */


/* ---------- Container GRID -------- */
#sidebar a {
  height: 95%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%
}

.container .content {
  float: left;
  width: 85.95%;
  margin-top: 2em;
}
.container .sidebar {
  float: left;
  width: 7%;
  height: 95%;
}


/* #################### SECTIONS ##################### */

/* -------- Login ----------- */

.login fieldset {
  padding: 1em 5em;
}


/* -------- Menu Principal ----------- */

#menu-principal {
  margin-top: 35px;
  padding-bottom: 35px;
}
.btn {
  width: 100px;
  height: 100px;
  background: url(/images/bn-tpl.png) no-repeat;
  padding: 15px;
  font-weight: bold;
  font-size: 4em;
  display: inline-block;
}


.btn:hover { 
  background: url(/images/bn-tpl-hover.png) no-repeat; 
}

.btn a{
  color: #fff;
  text-shadow: 1px 1px 2px #9C9C9C;
}

/* -------- Simulador -------- */

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FAFAFA;
  border: 1px solid #3C3C3C;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

.point:hover {
  background: #E2E2E2;
}

.point.seleccionado {
  border: 5px solid #38c;
  width: 11px;
  height: 11px;
  opacity: 0.8;
}

.point.deshabilitado {
  border: 5px solid red;
  width: 11px;
  height: 11px;
  opacity: 0.8;
}

.camion {
  position: relative;
}

.camion img {
  width:100%;
}

.modal-accesorio {
  width: 87%;
  padding: 20px;
  text-align: justify;
  max-width: inherit;
  display: inline-block;
}

.accesorio-img {
  float: left;
  margin: 5px 19px 0px 0px;
  box-shadow: 2px 2px 10px #7C7C7C;
  border: 4px solid #FFF;
  width: 25%;
}

.descripcion {
  font-size: 0.8em;
}

/* ---------- Cotizador -------- */

#accesorios-contenido label {
  font-size: 14px;
  font-weight: normal;
}

/* --------- Seleccion adicionales */
#adicionales .fila {
  display: inline-block;
  width: 100%;
}

#adicionales .seccion h1 {
  font-size: 1.2em;
}

#adicionales #planes-servicio, 
#adicionales #descuentos, 
#adicionales #contratos, 
#adicionales #duraciones {
  width: 40%;
  float: left;
  padding: 5px 25px;
}

#adicionales #duraciones {
  display: none;
}


/* ---------- Footer -------- */

.crm {
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
}

.crm:hover {
  background: #1B5FA8;
}


